<form action="/calendar/new" method="POST"> 
  <div class="form-group">
    <label for="week">Week</label>
    <input type="number" name="week" class="form-control">
  </div>
  <div class="form-group">
    <label for="time">time</label>
    <input type="number" name="time" class="form-control">
  </div>

  <select name="project">
    {{# each projects}}
    <option value="{{_id}}">{{title}}</option>
    {{/each}}
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>